PayAPI/Service References/BankService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PayService.DataContract" />
  <xs:element name="CreateBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PayService.DataContract" minOccurs="0" name="CreateBankResult" nillable="true" type="q1:ServiceResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PayService.DataContract" minOccurs="0" name="GetAllBanksResult" nillable="true" type="q2:ServiceResponseOfArrayOfBankDTOFZ_P5_PzyX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PayService.DataContract" minOccurs="0" name="GetBankByIdResult" nillable="true" type="q3:ServiceResponseOfBankDTOFZ_P5_PzyX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PayService.DataContract" minOccurs="0" name="GetBankByCodeResult" nillable="true" type="q4:ServiceResponseOfBankDTOFZ_P5_PzyX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>